:root {
	--bg-color: black;
	--fg-color: white;
	--hl-color: cyan;
	--hf-color: rgb(40, 40, 40);
	--hf-min-padding: 0.75em;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

@supports(padding:max(0px)) {
	header, main {
        padding-left: max(env(safe-area-inset-left), var(--hf-min-padding));
        padding-right: max(env(safe-area-inset-right), var(--hf-min-padding));
	}
	header {
		padding-top: max(env(safe-area-inset-top), var(--hf-min-padding));
	}
	footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
		padding-bottom: max(env(safe-area-inset-bottom), var(--hf-min-padding));
	}
}

html {
	width: 100vw;
	height: 100vh;
}
body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: var(--bg-color);
	color: var(--fg-color);
	overflow: hidden;
	position: fixed;
}
header, footer {
	z-index: 1;
	background-color: var(--hf-color);
	box-shadow: 0em 0em 1em var(--hl-color);
}


/* ---------------- header ---------------- */

header {
	padding-bottom: var(--hf-min-padding);
	display: flex;
	align-items: center;
	text-align: center;
}
header label {
	display: grid;
	place-items: center;
	height: 2em;
	width: 2em;
	visibility: hidden;
}
header label i {
	font-size: 1.6em;;
}
header h1 {
	flex-grow: 1;
}


/* ---------------- main ---------------- */

main {
	flex-basis: 0px;
	flex-grow: 1;
	overflow: auto;
}


/* ---------------- footer ---------------- */

footer {
	padding-top: var(--hf-min-padding);
	display: flex;
	text-align: center;
}
.footerButton {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	font-size: 0.8em;
	text-decoration: none;
	color: inherit;
}
.current {
	color: var(--hl-color);
}
.footerButton__icon {
	font-size: 1.75em;
}
.footerButton__text {
	flex-grow: 1;
	padding: 0.5em;
	font-size: 0.75em;
}